html {
  font: normal 100% Helvetica, sans-serif; /* context ~16px */
}

h1 {
  text-align: center;
  color: #000;
}

hr {
  border: none;
  height: 3px;
  background-color: #3a7896;
 }

.line {
  background-color: black;
}

.container {
  /* http://www.css666.com/properties/flex */
  display: -webkit-flex;  /* Safari */
  display: flex;          /* Firefox, Chrome, IE */
  
  -webkit-flex-flow: row;
  flex-flow: row;
  
  -webkit-justify-content: center;
  justify-content: center;
  
  height: 400px;
}

.left {
  /* grow | shrink | basis */
  -webkit-flex: 0 1 200px;
  flex: 0 1 200px;
  text-align: center;
  background: #d9ff66;
  box-shadow: 10px 10px 5px #888888;
}

.middle {
  /* grow | shrink | basis */
  -webkit-flex: 0 0 350px; 
  flex: 0 0 350px;

  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.right {
  /* grow | shrink | basis */
  -webkit-flex: 0 1 200px;
  flex: 0 1 200px;
  text-align: center;
  background: #d9ff66;
  box-shadow: -10px 10px 5px #888888;
}

section {
  padding: 7px;
  margin: 5px;
}

p {
  font-size: 1.3rem; /* 20px (target) / 16px (context) = result */
}

.x {
  color: green;
  font-weight: bold;
}

.o {
  color: #ff3399;
  font-weight: bold;
}  

canvas {
  /*background-color: #fff;*/
  border: 1px solid black;
}
.c1, .c2, .c3 {
  border-top-style: none;
}

.c3, .c6, .c9 {
  border-right-style: none;
}

.c7, .c8, .c9 {
  border-bottom-style: none;
}

.c1, .c4, .c7 {
  border-left-style: none;
}

.winner {
  background-color: #ff6;
}